html {
  scroll-behavior: smooth;
}
*{
    font-family: verdana;
}
body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url("../img/bg.bmp");
    display: flex;
    justify-content:center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
  }
.mainPageContainer{
    min-width: 1000px;
}
.homePage{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    vertical-align: top;
}
.introContainer{
    height: 500px;
    width: 620px;
    display: inline-block;
    vertical-align: top;
}
.deerImageContainer{
    height: 500px;
    display: inline-block;
}
.deerImage{
    height: 500px;
}
.introTitle{
    margin-top: 70px;
    height: 250px;
    color: white;
    font-weight: bold;
    font-size: 4rem;
}
.intro{
    color: grey;
    font-size: 0.9rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    padding: 5px;
}
.introTitle::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.header{
    display: flex;
    justify-content: flex-end;
    position:fixed;
    width: 1000px;
    height: 60px;
    left: 50%;
    background: url("../img/bg.bmp");
    margin-left: -500px; /* Negative half of width. */
    z-index: 30;
}
  .navBar{
    list-style: none;
    text-decoration: none;
    cursor: default;
  }
  .navLink{
    display: inline-block;
    width: 70px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    color: grey;
    transition: ease-in-out 0.1s;
    margin-left: 25px;
  }
  .navLink:hover{
    color: white;
    transition: ease-in-out 0.1s;
  }
  .navLink2{
    display: inline-block;
    width: 180px;
    height: 40px;
    border: solid white 1px;
    color: white;
    text-align: center;
    padding-top: 18px;
    transition: ease-in-out 0.1s;
    font-weight: bold;
    margin-left: 50px;
  }
  .navLink2:hover{
    box-shadow: 1px 1px 16px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px 1px 16px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 1px 16px 0px rgba(255,255,255,0.75);
    transition: ease-in-out 0.1s;
  }
  .skillsPage{
    width: 100%;
    height: 500px;
    margin-top: 300px;
    vertical-align: top;
    /* border: solid rgba(68, 68, 68, 0.1) 1px; */
    border-radius: 20px;
    background-color: rgba(25, 25, 25, 0.3);
    background: url("../img/hawk.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .skillsTitle{
    width: 100%;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: bold;
    padding-left: 280px;
  }
  .skillsSubTitle{
    width: 100%;
    color: white;
    height: 20px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    padding-left: 280px;
    color: grey;
  }
  .skillsContainer{
    width: 360px;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-left: 600px;
  }
  .skillList{
    display: inline-block;
    width: 100px;
    height: 480px;
    padding: 10px;
    vertical-align: top;
  }
  .skillListTitle{
    color: grey;
  }
  .listOfSkills{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    color: white;
    font-size: 0.8rem;
    text-align: left;
  }
  .listOfSkills img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(1);
  }
  .listOfSkillsItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .projectsPage{
    width: 100%;
    height: 500px;
    margin-top: 300px;
    vertical-align: top;
    /* border: solid rgba(68, 68, 68, 0.1) 1px; */
    border-radius: 20px;
    background-color: rgba(25, 25, 25, 0.3);
    background: url("../img/flamingo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .projectsTitle{
    width: 100%;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: bold;
    display: block;
    width: 650px;
  }
  .projectsContent{
    display: block;
    width: 650px;
    border: solid rgba(68, 68, 68, 0.4) 1px;
    border-radius: 10px;
    height: 400px;
    margin-top: 50px;
  }
.connectPage{
  width: 100%;
  height: 500px;
  margin-top: 300px;
  vertical-align: top;
  border-radius: 20px;
  background-color: rgba(25, 25, 25, 0.3);
  background: url("../img/wolf.png");
  background-repeat: no-repeat;
  background-size: contain;
  
}
footer{
  height: 100px;
}
.connectTitle{
  padding: 0px;
  color: white;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  font-weight: bold;
  display: block;
  width: 500px;
  margin-left: 490px;
  padding-top:8px;
}
.connectContent{
  display: block;
  width: 500px;
  margin-left: 490px;
  height: 350px;
  margin-top: 20px;
}
.connectForm{
  width: 100%;
  height: 100%;
}
.connectInput{
  display: block;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  border: solid grey 1px;
  color: grey;
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px;
  background-color: rgba(25, 25, 25, 0.3);
}
.connectTextField{
  display: block;
  width: 500px;
  height: 150px;
  margin-bottom: 10px;
  border: solid grey 1px;
  color: grey;
  border-radius: 10px;
  font-size: 1rem;
  resize: none;
  padding: 5px;
  background-color: rgba(25, 25, 25, 0.3);
}
.connectSubmit{
  display: block;
  width: 100px;
  height: 50px;
  font-size: 1rem;
  border: solid grey 1px;
  color: grey;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(25, 25, 25, 0.3);
  transition: ease-in-out 0.1s;
}
.connectSubmit:hover{
  color: rgba(255,255,255,0.75);
  box-shadow: 1px 1px 16px 0px rgba(255,255,255,0.75);
  -webkit-box-shadow: 1px 1px 16px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 1px 1px 16px 0px rgba(255,255,255,0.75);
  transition: ease-in-out 0.1s;
}
/* smaller resolutions devices that don't fit full page */
@media (width<1000px){
  *{
    margin: 0px;
    padding: 0px;
  }
  body{
    width: 500px;
    padding: 0px;
    margin: 0px;
    margin: auto;
}
  .mainPageContainer{
    min-width: 100vw;
  }
  .deerImageContainer{
    position:absolute;
    display: none;
  }
  .skillsPage, .projectsPage, .connectPage{
    background: none;
  }
  .skillsPage{
    width: 500px;
    margin: auto;
    background-color: rgba(25, 25, 25, 0.3);
  }
  .skillsTitle{
    width: 400px;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: bold;
    margin: auto;
    padding: 0px;
  }
  .skillsSubTitle{
    width: 400px;
    color: white;
    margin:auto;
    height: 20px;
    padding: 0px;
    margin-top: 30px;
    text-align: center;
    font-size: 0.8rem;
    color: grey;
  }
  .skillsContainer{
    width: 360px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    margin: auto;
  }
  .skillList{
    display: inline-block;
    width: 100px;
    height: 180px;
    margin-top: 30px;
    padding: 10px;
    vertical-align: top;
  }
  .skillListTitle{
    color: grey;
    margin-bottom: 10px;
  }
  .listOfSkills{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    color: white;
    font-size: 0.8rem;
    text-align: left;
  }
  .listOfSkills img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(1);
  }
  .listOfSkillsItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .header{
    display: flex;
    justify-content: center;
    position:fixed;
    min-width: 550px;
    height: 60px;
    background: url("../img/bg.bmp");
    z-index: 30;
}
  .navBar{
    list-style: none;
    text-decoration: none;
    cursor: default;
  }

  .homePage{
    text-align: center;
    width: 500px;;
    height: 300px;
    vertical-align: top;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 300px;
}
.introContainer{
    height: 100px;
    width: 500px;
    display: inline-block;
    vertical-align: top;
}
.introTitle{
    margin-top: 10px;
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.intro{
    color: grey;
    font-size: 0.9rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    padding: 5px;
}

.projectsPage{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 300px;
  vertical-align: top;
  
}
.projectsTitle{
  width: 500px;
  color: white;
  height: 40px;
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  font-weight: bold;
  display: block;
}
.projectsContent{
  display: block;
  width: 500px;
  border-radius: 10px;
  height: 400px;
  margin-top: 50px;
  border: none;
}
.connectTitle{
  padding: 0px;
  color: white;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  font-weight: bold;
  display: block;
  width: 500px;
  margin-left: 0px;
  padding-top:8px;
}
.connectContent{
  display: block;
  width: 500px;
  margin-left: 0px;
  height: 350px;
  margin-top: 20px;
}
.connectPage{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 300px;
  vertical-align: top;
  

}
}
